@import './src/variable/variable';
@import '../../assets/fonts/fonts';
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  @include flex-row;
  max-width: 1440px;
  min-width: 320px;
}

//.logo img {
//  @include logo;
//}
//.logo{
//  width: 6%;
//}
//---------------------------------------------------------------------box colors-------------------------------------------------------
.box-colors {
  @include Montserrat-bold;
  @include flex-column;
  justify-content: space-between;
  margin-top: 148px;
  margin-left: 62px;
  width: 40%;

}

.box-colors__content {
  @include flex-row;

}

.box-colors_size {
  height: 70px;
  width: 70px;
  border-radius: 6px;
  margin-bottom: 20px;

}

.dark_100 {
  background-color: $Dark_Shade_100;
}
.dark_75 {
  background-color: $Dark_Shade_75;
}
.dark_50 {
  background-color: $Dark_Shade_50;
}
.dark_25 {
  background-color: $Dark_Shade_25;
}
.dark_5 {
  background-color: $Dark_Shade_5;
}
.purple {
  background-color: $purple;
}
.green {
  background-color: $green;
}

.box-colors__title_name {
  margin-top: 3px;
  margin-left: 40px;
  font-size: 19px;
  line-height: 29px;
  margin-bottom: 30px;
}
//------------------------------------------------------------------box wiget --------------------------------------------------------------
.box-widget {
  @include flex-column;
  display: flex;
  justify-content: start;
  margin-top: 148px;
  margin-left: 133px;
  width: 100%;
  max-width: 436px;

}
.box-wiget__content{
  @include flex-row;
  @include Montserrat-bold;
  width: 100%;
}


.box-widget__widget_h1 {
  font-size: 24px;
  line-height: 29px;
  color: $Dark_Shade_25;
  width: 8%;
  align-items: flex-start;
}

.box-widget__widget_h2 {
  margin-top:50px;
  font-size: 19px;
  line-height: 23px;
  color: $Dark_Shade_25;
  width: 8%;
  align-items: flex-start;
}

.box-widget__widget_h3 {
  margin-top: 50px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
  color: $Dark_Shade_25;
  width: 8%;
}

.box-widget__widget_body {
  margin-top: 45px;
  font-size: 14px;
  line-height: 24px;
  color: $Dark_Shade_25;
  width: 8%;
}
.box-wiget__title_h1 {
  font-size: 24px;
  line-height: 30px;
  color: $Dark_Shade_100;
  margin-left: 20px;
}

.box-wiget__title_h2 {
  margin-top: 50px;
  font-size: 19px;
  line-height: 24px;
  color: $Dark_Shade_100;
  margin-left: 20px;
}
.box-wiget__title_h3 {
  margin-top: 50px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: $Dark_Shade_100;
}
.box-wiget__title_body {
  margin-top: 45px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  color: $Dark_Shade_75;
}