@import '../../variable/variable';

.field-elements_hover {
  display: inline-flex;
  width: 100%;
  height: 44px;
  margin-top: 5px;
  padding-left: 0;
  border: 1px solid $Dark_Shade_25;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}
.field-elements_hover:hover{
  border: 1px solid $Dark_Shade_75;
}

.textField_hover {
  @include input;


}

.textField_hover::placeholder {

  color: $Dark_Shade_25;
  //color: transparent;
}

.textField_hover:focus::placeholder {
  //color:transparent;
  color: $Dark_Shade_75;

}

.textField_hover:hover::placeholder {
  //color:transparent;
  color: $Dark_Shade_75;
}
 .textField_hover:focus{

  //border: 1px solid $Dark_Shade_75;

}
.textField_hover:hover{
   //border: 1px solid $Dark_Shade_75;
 }