@import '../../variable/variable';

.field-elements_hover {
 @include field;
}
.field-elements_hover:hover{
  border: 1px solid $Dark_Shade_75;
}

.textField_hover {
  @include input;


}

.textField_hover::placeholder {
  color: $Dark_Shade_25;

}

.textField_hover:focus::placeholder {
  color: $Dark_Shade_75;
}

.textField_hover:hover::placeholder {
  color: $Dark_Shade_75;
}
 .textField_hover:focus{

  //border: 1px solid $Dark_Shade_75;

}
.textField_hover:hover{
   //border: 1px solid $Dark_Shade_75;
 }