doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title logo
body
    form(action="#").field-elements_hover
        input(class="textField_hover" type="text" placeholder="This is pretty awesome")

script(src='../components/textField_hover/textField_hover.js')