@import '../../variable/variable';

.field-elements__hover {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 5px;

}

#hover {
  @include input;
  border: 1px solid $Dark_Shade_25;

}

#hover::placeholder {

  color: $Dark_Shade_25;
  //color: transparent;
}

#hover:focus::placeholder {
  //color:transparent;
  color: $Dark_Shade_75;

}

#hover:hover::placeholder {
  //color:transparent;
  color: $Dark_Shade_75;
}
 #hover:focus{

  border: 1px solid $Dark_Shade_75;

}