@import '../../src/assets/fonts/fonts';
// --------------------------------------------------Colors-------------------------------------------------------

$Dark_Shade_100: #1F2041;
$Dark_Shade_75: rgba(31, 32, 65, 0.75);
$Dark_Shade_50: rgba(31, 32, 65, 0.5);
$Dark_Shade_25: rgba(31, 32, 65, 0.25);
$Dark_Shade_5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

//------------------------------------------------logotype----------------------------------------------------

@mixin logo {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;

}

//--------------------------------------------------------input---------------------------------------
@mixin input {
  width: 100%;
  max-width: 320px;
  border:none;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  outline: none;
  @include Montserrat-norm;

}
//----------------------------------------field and  date dropdown-------------------------------
@mixin field {
  display: flex;
  justify-content: flex-end;
  width: 320px;
  height: 44px;
  margin-top: 5px;
  border: 1px solid $Dark_Shade_25;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}
@mixin icon_sufix{
  color: $Dark_Shade_50;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: baseline;
}
@mixin sufix_button{
  width: 30%;
  outline: none;
  background-color:white;
  cursor: pointer;
  border:none;
  border-radius: 4px;
}




//----------------------------------------------------Fonts---------------------------------------------------

@mixin Montserrat-norm {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;

}

@mixin Montserrat-bold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
}

@mixin Quicksand-bold {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
}

@mixin Quicksand-norm {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
}

// ----------------------------------------------------flex-------------------------------------------------------

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}