@import '../../variable/variable';

.field-elements__guest {
  display: inline-flex;
  width: 100%;
  height: 44px;
  margin-top: 5px;
  padding-left: 0;
  border: 1px solid $Dark_Shade_25;
  border-radius: 4px;
  align-items: center;
  text-align: center;



}

.field-elements__guest:hover {

  border: 1px solid $Dark_Shade_75;
}


.guest {
  @include input;

  width: 80%;
  height: 20px;
  border: none;
}

.guest[placeholder] {
  color: $Dark_Shade_75;
}

.sufix-buttton {

  width: 20%;
  height: 100%;
  outline: none;
  background-color:white;
  cursor: pointer;
  border:none;
  padding-top: 5px;



}

.icon-sufix{
  color:$Dark_Shade_50;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: baseline;


}
