@import '../../variable/variable';
@import '../../assets/fonts/fonts';
@import '../../assets/iconFont.css';

* {
  //margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 100vh;
  margin: 0 auto;

}

.container__block1 {
  display: flex;
  margin: 0;
  width: 100%;
  flex-direction: row;


}

.field-elements {
  border: 1px solid green;
  width: 33.3%;
  margin-left: 141px;
  margin-top: 50px;
}

.field-elements__field {
 //width: 320px;
  //height: 44px;

}

.allButtons {
  margin-top: 50px;
  width: 33.3%;
  border: 1px solid red;
}

.pagination {
  margin-top: 50px;
  width: 33.3%;
  border: 1px solid red;
}

.container__block2{
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
}
.dropdown-list_furniture{
  border: 1px solid green;
  width: 33.3%;
  margin-left: 141px;
  margin-top: 50px;
}
.dropdown-list_people_default{
  width: 33.3%;
  border: 1px solid red;
}
.dropdown-list_people_selected{
  width: 33.3%;
  border: 1px solid red;
}
.container__block3{

}

input:invalid {
  box-shadow: none;
}


.field-title {
  width: 320px;
  //max-width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;

}

.field-elements__field__datapicker-container {
  display: flex;
  flex-direction: row;



}
.datapicker-container{
  width: 150px;
}
.datapicker__today-container {
  width: 150px;
  margin-left: 20px;
}

.datapicker-container form{
width: 100%;
}


.datapicker__today-container form {
width: 100%;


}

.field-name {
  @include Montserrat-bold;
  text-transform: uppercase;
  color: $Dark_Shade_100;


}

.field-status {
  @include Montserrat-norm;
  color: $Dark_Shade_50;

}




