@import './src/variable/variable';
@import '../../assets/fonts/fonts';
@import '../../assets/iconFont.css';

* {
  //margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1440px;
  height: 100vh;
  margin: 0 auto;

}

.container{
  margin: 0;
  width: 100%;


}

.field-elements {
  //border: 1px solid green;
  width: 33.3%;
  margin-left: 141px;
  margin-top: 50px;
}

.field-elements__field {
  width: 320px;

}
.allButtons{
  width: 33.3%;
  border: 1px solid red;
}
.pagination{
  width: 33.3%;
  border: 1px solid red;
}

input:invalid {
  box-shadow: none;
}


.field-title {
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;

}

.field-name {
  max-width: 320px;
  @include Montserrat-bold;
  text-transform: uppercase;
  color: $Dark_Shade_100;


}

.field-status {
  max-width: 320px;
  @include Montserrat-norm;
  color: $Dark_Shade_50;

}


.field-elements__masked {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.masked {
  @include input;
}

.masked::placeholder {
  color: $Dark_Shade_25;

}

.field-elements__date {
  display: flex;
  margin-top: 40px;

}

.container_date {
  width: 46%;
}

.container_date-today {
  width: 46%;
  margin-left: 20px;
}


.field-elements__date_ordinary {
  @include dropdown;
  width: 46%;
  min-width: 150px;
}

.field-elements__date_today {
  @include dropdown;
  width: 46%;
  //margin-left: 20px ;
  min-width: 150px;
}

#masked_date {
  @include dropdown-input;

}

#masked_today {
  @include dropdown-input;

}


.field-elements__date-filter {
}

.field-elements__subscription {
}

.field-elements__checkbox {
}

.field-elements__buttons {
}