@import '../../variable/variable';
@import "../datapickerPluginSetting/datapicker";


.field-elements_dateDropdown_today {
  @include field;
  width: 150px;
}

.field-elements_dateDropdown_today:hover {
  border: 1px solid $Dark_Shade_75;
}

.datapicker__today {
  @include input;
  width: 80%;

}

.datepicker[placeholder] {
  color: $Dark_Shade_75;
}


.field-elements_dateDropdown_today__sufix-buttton{
  @include sufix_button

}

.icon-sufix{
  @include icon_sufix;
}