body

    form(action="#").field-elements_dateDropdown
        input(class="datapicker__today " type="text" placeholder="ДД.ММ.ГГГ")

        button(class="sufix-buttton icon-sufix " type="submit" )


script(src='../components/dateDropdown_today/dateDropdown_today.js')