
body
    form(action="#").field-elements__guest
        input(class="guest" type="text" placeholder="")
        button(class="field-elements__guest__sufix-buttton icon-sufix " type="submit" )


script(src='../components/dropdown-with-button/dropdownWithButton.js')