@import '../../variable/variable';
@import "../datapickerPluginSetting/datapicker";


.field-elements_dateDropdown_filter {
  @include field;
  width: 266px;
}

.field-elements_dateDropdown_filter:hover {

  border: 1px solid $Dark_Shade_75;
}


.datepicker_filter {
  @include input;

  width: 80%;
  //height: 20px;
  // border: none;
}

.datepicker_filter::placeholder {
  color: $Dark_Shade_75;
}

.field-elements_dateDropdown_filter__sufix-buttton {
@include sufix_button;

}

.icon-sufix {
 @include icon_sufix;


}

