body

    form(action="#").field-elements_dateDropdown_filter
        input(class="datepicker_filter " type="text" )

        button(class="field-elements_dateDropdown_filter__sufix-buttton icon-sufix " type="submit" )


script(src='../components/filterDateDropdown/filterDateDropdown.js')