@import '../../variable/variable';
.field-elements__masked {
  display: inline-flex;
  width: 320px;
  height: 44px;
  margin-top: 5px;
  padding-left: 0;
  border: 1px solid $Dark_Shade_25;
  border-radius: 4px;
  align-items: center;
  text-align: center;

}
.field-elements__masked:hover{
  border: 1px solid $Dark_Shade_75;
}
.masked{
  @include input;
}
.masked::placeholder {
  color: $Dark_Shade_75;


}