doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src="https://code.jquery.com/jquery-3.7.1.js" )

    title dropdown_guest
body

    form(action="#").field-elements_dateDropdown
        input(class="datepicker " type="text" placeholder="ДД.ММ.ГГГ")

        button(class="sufix-buttton icon-sufix " type="submit" )


script(src='../components/dateDropdown/dateDropdown.js')