
body

    form(action="#").field-elements_dateDropdown
        input(class="datepicker " type="text" placeholder="ДД.ММ.ГГГГ")

        button(class="field-elements_dateDropdown__sufix-buttton icon-sufix " type="submit" )


script(src='../components/dateDropdown/dateDropdown.js')