@import '../../variable/variable';
@import "../datapickerPluginSetting/datapicker";


.field-elements_dateDropdown {
  @include field;
  width: 150px;
}

.field-elements_dateDropdown:hover {
  border: 1px solid $Dark_Shade_75;
}

.datepicker {
  @include input;
  width: 80%;

}

.datepicker[placeholder] {
  color: $Dark_Shade_75;
}

.field-elements_dateDropdown__sufix-buttton {

  @include sufix_button;
}

.icon-sufix {
  @include icon_sufix;
}



