doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title logo
body
    form(action="#").field-elements__email
        input(id="mail" type="email" placeholder="Email")

script(src='../components/textField/textField.js')