body
    form(action="#").field-elements_subscribe
        input(class="subscribe" type="email" placeholder="Email")
        button(class="rigt-buttton icon-right " type="submit" )


script(src='../components/subscribeTextField/subscribeTextField.js')