doctype html

head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Colors &amp; Type
.container
    .logo
        img.logo(src=require('./images/logo.png') alt='logo')
    .box-colors
        .box-colors__content
            .box-colors_size.dark_100
            .box-colors__title_name
                | Dark Shade 100%
                br
                | #1F2041
        .box-colors__content
            .box-colors_size.dark_75
            .box-colors__title_name
                | Dark Shade 75%
                br
                | #1F2041
        .box-colors__content
            .box-colors_size.dark_50
            .box-colors__title_name
                | Dark Shade 50%
                br
                | #1F2041
        .box-colors__content
            .box-colors_size.dark_25
            .box-colors__title_name
                | Dark Shade 25%
                br
                | #1F2041
        .box-colors__content
            .box-colors_size.dark_5
            .box-colors__title_name
                | Dark Shade 5%
                br
                | #1F2041
        .box-colors__content
            .box-colors_size.purple
            .box-colors__title_name
                | Purple
                br
                | #BC9CFF
        .box-colors__content
            .box-colors_size.green
            .box-colors__title_name
                | Green
                br
                | #6FCF97
    .box-widget
        .box-wiget__content
            .box-widget__widget_h1 H1
            .box-wiget__title_h1
                | This one is the sub-section or
                br
                | widget title
        .box-wiget__content
            .box-widget__widget_h2 H2
            .box-wiget__title_h2
                | Next one is the item title inside
                br
                | widgets
        .box-wiget__content
            .box-widget__widget_h3 H3
            .box-wiget__title_h3 This is a label or CTA text
        .box-wiget__content
            .box-widget__widget_body Body
            .box-wiget__title_body
                | This is the body text which is used for most
                br
                |                     of the design, like paragraphs, lists, etc.
script(src='../pages/colorsType.js')
