doctype html
html(lang='ru')
    head
        meta(charset='utg-8')
    title = "Быстрый запуск Webpack"
    body
        p.container Файл откомпилирован шаблонизатором Pug
        .logo
            img.logo1(src=require('./images/logo.png') alt='logo')