doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Formelements
body

    include components/logo/logo
    .container


        .field-elements
            .field-elements__field
                .field-title
                    .field-name Text Field
                    .field-status Default

                include components/textField/textField

                .field-title
                    .field-name Text Field
                    .field-status Hover / Focus
                include components/textField_hover/textField_hover
                .field-title
                    .field-name Dropdown
                include components/dropdown-with-button/dropdownWithButton
                .field-title
                    .field-name masked text field
                include components/maskedField/maskedField
                .field-elements__field__datapicker-container
                    .datapicker-container
                        .field-title
                            .field-name DATE DROPDOWN
                        include components/dateDropdown/dateDropdown
                    .datapicker__today-container
                        .field-title
                            .field-name DATE DROPDOWN
                        include components/dateDropdownToday/dateDropdown__today
        .allButtons
        .pagination
script(src="../js/formElements.js")